#posts,
#favorite_resto{
    display: grid;
    grid-row-gap: 16px;
}

@media screen and (max-width: 499px) {

    .header__title{
        font-weight: 300;
        font-size: 3em;
    }
    .nav {
        position: absolute;
        z-index: 10;
        top: 100%;
        margin-left:0; 
        margin-right:0;
        background-color: #daeeaa;
        width: 300px;
        

        /* This trasform moves the drawer off canvas. */
        -webkit-transform: translate(-400px, 0);
        transform: translate(-400px, 0);

        /* Optionally, we animate the drawer. */
        transition: transform 0.3s ease;
    }

    .open {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
    }

    .nav__item {
        display: list-item;
        border-bottom: 1px solid #5c663c;
        width: 100%;
    }

    .nav a {
        display: block;
        color: #1d2503;
        padding: 20px 0;
    }
    
    .hero__title{
      font-size: 27px;
    }
    
    .hero__tagline{
        font-size: 17px;
    }

    .hero {
        display: flex;
        align-items: center;
        width: 100%;
        margin-bottom: 0px;
        background-image: url("/images/heros/hero-image_1-small.jpg");
      }
    
}

@media screen and (min-width: 455px) {
    .headline__content {
        padding: 16px 16px;
    }

    .headline__title {
        font-size: 28px;
    }

    .headline__description {
        font-size: 16px;
    }

}

@media screen and (min-width: 500px) {

    .header__menu {
        display: none;
    }

}


@media screen and (min-width: 650px) {
    .headline__content {
        margin: 0 auto;
        max-width: 650px;
    }
    .post-item__content {
        padding: 16px 32px 32px 32px;
    }

    .post-item__title {
        font-size: 20px;
        
    }

    .post-item__description {
        font-size: 14px;
    }

}


@media screen and (min-width: 700px) {
    #posts,
    #favorite_resto {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 10px;
        grid-row-gap: 16px;
    }
}

@media screen and (min-width: 800px) {
    .nav__list {
        max-width: 800px;
        margin: 0 auto;
    }
}

@media screen and (min-width: 900px) {
    .hero {
        display: flex;
        align-items: center;
        width: 100%;
        margin-bottom: 0px;
        background-image: url("/images/heros/hero-image_1-large.jpg");
      }
    .headline {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .headline__content {
        padding: 16px 32px;
    }
    
    #posts,
    #favorite_resto{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media screen and (min-width: 1200px) {

    main {
        max-width: 1200px;
    }

}
